div#wrap{
    margin-left: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
}
div#navbar{
    width: 100vw;
    height: 50px;
    background-color: grey;
}
li{
  display: inline-block;
  margin-left: 20px;
}
ul{
  list-style-type: none;
  position: fixed;
}
a{
  color: black;
  text-decoration: none;
}